<form [formGroup]="loginFormGroup" (ngSubmit)="login()">
    <label>Email:</label>
    <input type="email" formControlName="email">
    <div *ngIf="loginFormGroup.controls.email.invalid && loginFormGroup.controls.email.touched">
      ⚠️ Email invalide !
    </div>
  
    <label>Mot de passe:</label>
    <input type="password" formControlName="password">
    <div *ngIf="loginFormGroup.controls.password.invalid && loginFormGroup.controls.password.touched">
      ⚠️ Le mot de passe est requis !
    </div>
  
    <button type="submit" [disabled]="isLoading"> 
      {{ isLoading ? 'Connexion...' : 'Se connecter' }}
    </button>
  
    <div *ngIf="invalidCredentials" class="error-message">
      ❌ {{ errorMessage }}
    </div>
  </form>
  